html{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: aqua;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    padding-top:0%;
    padding-left: 400px;

}
h1{
    text-align: center;
    font-size: 50px;
}
legend{
    font-weight: bold;
    font-size: 25px;
}
label{
    font-weight:bold
}
a{
   
   font-size: 35px;
   color: black;


}
